[init]
	defaultBranch = master
[user]
	name = DrunkLeen
	email = drunkleen@drunkleen.com
[credential "https://github.com"]
	helper =
	helper = !/home/snape/.local/share/mise/installs/gh/2.100.0/gh_2.100.0_linux_amd64/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !/home/snape/.local/share/mise/installs/gh/2.100.0/gh_2.100.0_linux_amd64/bin/gh auth git-credential
