[submodule "nvim/.config/nvim"]
	path = nvim/.config/nvim
	url = https://github.com/drunkleen/tired.nvim.git
	branch = master
[submodule "omarchy/.config/omarchy/plugins/omarchy.paperwidget"]
	path = omarchy/.config/omarchy/plugins/omarchy.paperwidget
	url = https://github.com/drunkleen/omarchy.paperwidget.git
	branch = main
[submodule "omarchy/.config/omarchy/plugins/omarchy.pixlock"]
	path = omarchy/.config/omarchy/plugins/omarchy.pixlock
	url = https://github.com/drunkleen/omarchy.pixlock.git
	branch = main
[submodule "omarchy/.config/omarchy/themes/leenium.omarchy"]
	path = omarchy/.config/omarchy/themes/leenium.omarchy
	url = https://github.com/drunkleen/leenium.omarchy.git
	branch = master
